[Unit]
Description=Wait until NM actually online
Requires=NetworkManager.service
After=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nm-online -q --timeout=500
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
