[Unit]
Description = Mount NFS Share
Requires=network-online.service
After=network-online.service

[Mount]
What=192.168.11.101:/mount/upload
Where=/shared/upload
Type=nfs
Options=defaults,_netdev

[Install]
WantedBy=multi-user.target
